.pika-single {
  color: $black;
  border-color: $grey-200;
  font-family: 'Open Sans', sans-serif;
}

td .pika-button {
  color: $black;
  background: $grey-100;
  border-radius: 0;
  opacity: 1;
}

.is-today .pika-button.pika-day {
  color: $blue;
  opacity: 1;
}

.is-disabled .pika-button.pika-day {
  font-style: italic;
  color: $black;
  background: $grey-300;
  opacity: 1;
}

.is-selected .pika-button {
  color: $white;
  background: $blue;
  box-shadow: none;
  border-radius: 0;
}

.has-event .pika-button {
  color: $white;
  background: $blue;
  box-shadow: none;
  border-radius: 0;
}

.pika-button:hover {
  background: $orange;
  border-radius: 0;
}

.pika-label {
  text-transform: uppercase;
}

.pika-select-month {
  text-transform: uppercase;
}

.pika-table thead abbr {
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: none;
  cursor: default;
}

.pika-title {

  .pika-next.is-disabled {
    transform: rotate(180deg);
  }

  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAyMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIzMCIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTE0IDZMNSAxNUwxNCAyNFY2WiIgZmlsbD0iIzAwNzJBMyIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjMwIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=);
    opacity: 1;

    &:hover {
      cursor: pointer;
      border: none;
      background-color: transparent;
      opacity: .8;
    }
  }
}

.pika-single.container {
  border: 0;
}

.calpicker.pika-single {
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.calpicker.pika-single:before,
.calpicker.pika-single:after {
  content: none;
  display: initial;
}

.calpicker .pika-lendar {
  float: none;
  width: auto;
}

.calpicker .pika-title {
  position: inherit;
}

.calpicker .pika-next {
  position: absolute;
  top: 8px;
  right: 8px;
}

.calpicker.disabled .is-selected .pika-button {
  color: $grey-700;
  background: $grey-200;
  box-shadow: none;
}

.calpicker.disabled .pika-button:hover {
  background: $grey-300;
  cursor: not-allowed;
}
