
// Converted Variables


// Custom Media Query Variables


.pika-single {
  color: #000;
  border-color: #e6e6e6;
  font-family: 'Open Sans', sans-serif;
}

.pika-button {
  color: #000;
  background: #f0f0f0;
  border-radius: 0;
}

.is-today .pika-button {
  color: #0089bd;
}

.is-selected .pika-button {
  color: #fff;
  background: #0089bd;
  box-shadow: none;
  border-radius: 0;
}

.has-event .pika-button {
  color: #fff;
  background: #0089bd;
  box-shadow: none;
  border-radius: 0;
}

.pika-button:hover {
  background: #ff9600;
  border-radius: 0;
}

.pika-label {
  text-transform: uppercase;
}
.pika-select-month {
  text-transform: uppercase;
}
.pika-table thead abbr {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: none;
  cursor: default;
}

.pika-single.container {
  border: 0;
}

.calpicker.pika-single {
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.calpicker.pika-single:before,
.calpicker.pika-single:after {
  content: none;
  display: initial;
}
.calpicker .pika-lendar {
  float: none;
  width: auto;
}
.calpicker .pika-title {
  position: inherit;
}
.calpicker .pika-next {
  position: absolute;
  top: 8px;
  right: 8px;
}
.calpicker.disabled .is-selected .pika-button {
  color: #666;
  background: #f5f5f5;
  box-shadow: none;
}
.calpicker.disabled .pika-button:hover {
  background: #ddd;
  cursor: not-allowed;
}
