
// Converted Variables


// Custom Media Query Variables


.pika-single {
  color: #000;
  border-color: #e6e6e6;
  font-family: 'Open Sans', sans-serif;
}

.pika-button {
  color: #000;
  background: #f0f0f0;
  border-radius: 0;
}

.is-today .pika-button {
  color: #0089bd;
}

.is-selected .pika-button {
  color: #fff;
  background: #0089bd;
  box-shadow: none;
  border-radius: 0;
}

.has-event .pika-button {
  color: #fff;
  background: #0089bd;
  box-shadow: none;
  border-radius: 0;
}

.pika-button:hover {
  background: #ff9600;
  border-radius: 0;
}

.pika-label {
  text-transform: uppercase;
}
.pika-select-month {
  text-transform: uppercase;
}
.pika-table thead abbr {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: none;
  cursor: default;
}

.pika-single.container {
  border: 0;
}

.calpicker.pika-single {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.calpicker .pika-lendar {
  float: none;
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 210px;
  flex: 1 1 210px;
}
.calpicker .pika-title {
  position: inherit;
}
.calpicker .pika-next {
  position: absolute;
  top: 8px;
  right: 8px;
}
