
// Converted Variables

$black: #000 !default;
$grey-darkest: #1a1a1a !default;
$grey-dark: #343434 !default;
$grey-dove: #676767 !default;
$grey: #818181 !default;
$grey-suva: #939393 !default;
$grey-silver: #a3a3a3 !default;
$grey-northernsky: #bebebe !default;
$grey-light: #ddd !default;
$white: #fff !default;
$white-smoke: #f0f0f0 !default;
$white-fog: #e6e6e6 !default;
$blue: #0089bd !default;
$blue-emphasis: #0070a1 !default;
$blue-muted: #008db1 !default;
$green: #61A85D !default;
$orange: #ff9600 !default;
$red: #ee4d3e !default;
$red-emphasis: #ff0000 !default;
$padding-base: 10px !default;
$margin-base: 10px !default;

// Custom Media Query Variables



