@import 'variables.css';

/* TODO: create separate modal file */
/* Seems like we maybe could use this modal stuff for projected content in the modal but we're not right now. Should I keep it? */
.modal form h2,
.modal form h3,
.modal form h4,
.modal form h5,
.modal form h6 {
  color: var(--white);
}
.modal form fieldset {
  padding-bottom: var(--padding-base);
  border-bottom: 1px solid var(--grey-silver);
}
.modal form fieldset:last-child {
  border-bottom-color: transparent;
}
.modal form label {
  display: block;
}
.modal form label:not(.light) {
  font-weight: 700;
}
.modal form input[type=checkbox] {
  margin-bottom: var(--margin-base);
}
.modal form textarea {
  width: 100%;
  height: 70px;
  border: 1px solid var(--black);
  padding: 5px;
  background-color: var(--grey-dark);
  color: var(--white);
}
.modal form fieldset.pricing label {
  display: inline-block;
  margin-right: var(--margin-base);
}