@import 'reset';

@import 'app';
@import 'button';
@import 'forms';
@import 'icons';
@import 'modal';
@import 'pikaday-custom.scss';

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  font-size: 14px;
  color: $grey-dove;
}