:root {
  --black: #000;
  --grey-darkest: #1c1c1c;
  --charcoal: #252525;
  --grey-dark: #343434;
  --grey-dove: #676767;
  --grey: #818181;
  --grey-suva: #939393;
  --grey-silver: #a3a3a3;
  --grey-northernsky: #bebebe;
  --grey-light: #ddd;
  --white: #fff;
  --white-smoke: #f0f0f0;
  --white-fog: #e6e6e6;
  --blue: #0089bd;
  --blue-emphasis: #0070a1;
  --blue-muted: #008db1;
  --green: #61A85D;
  --orange: #ff9600;
  --red: #ee4d3e;
  --red-emphasis: #ff0000;

  --padding-base: 10px;

  --margin-base: 10px;
}
