<section class="main demo">
  <h1>Tags</h1>
  <p>
    Provides input for providing tags in a structured manner.
  </p>
  <dl>
    <dt>Module</dt>
    <dd><code>TagsModule</code></dd>
    <dt>Selector</dt>
    <dd><code>prx-tags</code></dd>
  </dl>
  <ul>
    <li><code>@Input() selected: string[]</code> - Initially selected values.</li>
    <li><code>@Input() options: any[] | [string, string][] | object[]</code> - Preset tags shown as toggles below input.</li>
    <li><code>@Input() placeholder: string = ''</code> - Placeholder when nothing is selected</li>
    <li><code>@Output() onChange: string[]</code> - Outputs any change to the selected value(s)</li>
  </ul>
  <aside>
    <h3>Usage</h3>
    <pre class="code">
      &lt;prx-tags [selected]="selected" [options]="options" (onChange)="onChange($event)"&gt;&lt;/prx-tags&gt;
    </pre>

    <h3>Example</h3>
    <div class="container blue">
      <prx-tags placeholder="Type your tag and press Enter..." [options]="specialTags" (onChange)="onTagsChange($event)" [selected]="selected"></prx-tags>
      <dl>
        <dd>Selected</dd>
        <dt *ngFor="let val of selected">{{val}}</dt>
      </dl>
    </div>
  </aside>
</section>