<header>
  <button (click)="downloadsByReleaseTab()" class="tab" [ngClass]="{'active': isOnDownloadsByReleaseTab()}"
          [disabled]="isOnDownloadsByReleaseTab()">
    <span class="total">Episode 53...</span><br>
    <i class="icon-downloads-release"></i> Release
  </button>
  <button (click)="downloadsByDateTab()" class="tab" [ngClass]="{'active': isOnDownloadsByDateTab()}"
          [disabled]="isOnDownloadsByDateTab()">
    <span class="total">718</span><br>
    <i class="icon-downloads"></i> Downloads
  </button>
  <button (click)="playbackTab()" class="tab" [ngClass]="{'active': isOnPlaybackTab()}"
          [disabled]="isOnPlaybackTab()">
    <span class="total">75% dropoff</span><br>
    <i class="icon-playback"></i> Playback
  </button>
  <button (click)="adsTab()" class="tab" [ngClass]="{'active': isOnAdsTab()}" [disabled]="isOnAdsTab()">
    <span class="total">1436</span><br>
    <i class="icon-ads"></i> Ads
  </button>
  <button (click)="clientsTab()" class="tab" [ngClass]="{'active': isOnClientTab()}" [disabled]="isOnClientTab()">
    <span class="total">64% iTunes</span><br>
    <i class="icon-clients"></i> Clients
  </button>
  <button (click)="geographyTab()" class="tab" [ngClass]="{'active': isOnGeographyTab()}"
          [disabled]="isOnGeographyTab()">
    <span class="total"><span class="deltaup">(2%)</span> California</span><br>
    <i class="icon-geo"></i> Geography
  </button>
</header>
