@import 'node_modules/c3/c3.css';
@import 'node_modules/pikaday/css/pikaday.css';
@import 'node_modules/pikaday/css/triangle.css';
@import 'ngx-prx-styleguide/assets/styles/variables.less';

section {
  margin: 1em;
}
.demo {
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
  }
  ul {
    list-style: disc;
    margin: 1em 0;
    padding-left: 40px;
    li {
      list-style: disc;
    }
  }
  p {
    margin-bottom: @margin-base;
  }
  aside {
    background: @white;
    padding: 10px 20px;
  }
  pre.code {
    white-space: pre;
  }
  .form-group {
    margin: 10px 0;
    flex-basis: calc(100% / 3);
  }
  svg {
    max-width: 100%;
    height: 100%;
  }
  prx-datepicker {
    display: inline-block;
    border: 1px solid #bbb;
    margin-left: 20px;
  }
  prx-timepicker {
    display: inline-block;
    margin-left: 20px;
  }
  .changed {
    padding-left: 20px;
    font-style: italic;
  }
}
