@import 'node_modules/c3/c3.css';
@import 'node_modules/pikaday/css/pikaday.css';
@import 'node_modules/pikaday/css/triangle.css';
@import 'ngx-prx-styleguide/styles/variables.less';

h1, h2 {
  color: @blue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style: disc;
  margin: 1em 0;
  padding-left: 40px;
}
li {
  list-style: disc;
  > aside {
    margin: 10px 20px;
  }
}
section {
  margin-left: 1em;
  margin-bottom: 2em;
}
prx-datepicker {
  display: inline-block;
  border: 1px solid #bbb;
  margin-left: 20px;
}
prx-timepicker {
  display: inline-block;
  margin-left: 20px;
}
.changed {
  padding-left: 20px;
  font-style: italic;
}
