.input-group {
  cursor: pointer;
  position: relative;
  min-height: 40px;
  display: inline-block;
}

input {
  cursor: pointer;
  height: 40px;
  width: 120px;
  border: 1px;
  background: #fff;
}

input.changed {
  outline: 5px auto #f09b4c;
}

input.invalid {
  outline: 5px auto #e32;
}

.input-group-addon i {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
}
