.pika-single {
  color: #000;
  border-color: #e6e6e6;
  font-family: 'Open Sans', sans-serif;
}

.pika-button {
  color: #000;
  background: #f0f0f0;
  border-radius: 0;
}

.is-today .pika-button {
  color: #368aa2;
}

.is-selected .pika-button {
  color: #fff;
  background: #368aa2;
  box-shadow: none;
  border-radius: 0;
}

.pika-button:hover {
  background: #f59f51;
  border-radius: 0;
}
